.Button {
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundRed {
  background-color: red;
}

.backgroundYellow {
  background-color: yellow;
}

.backgroundBlue {
  background-color: blue;
  color: white;
  width: 30%;
  height: 40px;
}
