.TodoItem {
  width: 100%;
  margin:  0 auto;
  padding: 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 4px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.addTodo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin: 0 auto;
}